<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alden.eggincubator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_egg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_egg_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eggcubator">
        <activity android:name=".Activity.SystemOffActivity" />
        <activity android:name=".Activity.StartActivity" />
        <activity android:name=".Activity.ManualSettingActivity" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.PrepareActivity" />
        <activity android:name=".Activity.ChoseEggActivity" />
        <activity android:name=".Activity.ParentActivity" />
        <activity android:name=".Activity.OnBoardingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>